@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
}

div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
a > button {
  border: none;
  background-color: transparent;
  color: white;
}
h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 45px;
}