@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid red;
  height: 100%;
  image-rendering: optimizeSpeed;
  image-rendering: optimizeContrast;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
a > button {
  border: none;
  background-color: transparent;
  color: white;
}
h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 45px;
}
